# Виртуальное окружение
env/
venv/
*.env
*.pyenv

# Файлы для кеширования
pycache/
*.py[cod]

# Файлы среды разработки
.idea/
.vscode/
*.iml

# Логи и временные файлы
*.log
*.bak
*.swp

# Системные файлы
Thumbs.db  # Windows
.DS_Store  # macOS
tmp_data.txt
